---
const tours = [
    {
        title: "TOUR CAÑON DEL COLCA",
        days: "FULL DAY",
        image: "/images/colca.png",
        description: "Embárcate en una aventura única hacia el Cañón del Colca, uno de los cañones más profundos del mundo. Disfruta de impresionantes paisajes montañosos, el avistamiento de cóndores y la inmersión en la cultura local de los pueblos andinos que habitan esta región. Ideal para los amantes de la naturaleza, la historia y la aventura, el tour te permitirá explorar este asombroso destino de una manera inolvidable.",
        link: "https://wa.me/51969188876?text=¡Hola!,%20*Travel%20Millpu*%20estoy%20interesado%20en%20el%20full%20day%20*TOUR%20CAÑON%20DEL%20COLCA*."
    },
    {
        title: "CAÑON DEL COLCA + CHIVAY",
        days: "2 DÍAS / 1 NOCHE",
        image: "/images/chivay.png",
        description: "Disfruta de una experiencia inolvidable combinando el impresionante Cañón del Colca con la pintoresca localidad de Chivay. Vive la emoción de explorar uno de los cañones más profundos del mundo, mientras observas a los majestuosos cóndores en su vuelo. Luego, relájate en las aguas termales de Chivay y conoce la riqueza cultural de esta región andina. Un destino ideal para los viajeros que buscan belleza natural, aventura y tradición en un solo viaje.",
        link: "https://wa.me/51969188876?text=¡Hola!,%20*Travel%20Millpu*%20estoy%20interesado%20en%20el%20paquete%20*CAÑON%20DEL%20COLCA%20%2B%20CHIVAY%202%20DÍAS%20%2F%201%20NOCHE*."
    }
];
---
<section class="py-16 bg-gray-50">
    <div class="max-w-7xl mx-auto text-center px-4">
        <h2 class="text-3xl md:text-4xl font-bold text-primary mb-12">
           Vamos <br /> a conocer Arequipa
        </h2>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-8">
            {tours.map((tour) => (
                <a href={tour.link} target="_blank" class="flex flex-col bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 transition transform hover:-translate-y-1 hover:shadow-lg h-full">
                    <div class="relative w-full h-[350px]">
                        <img
                            class="w-full h-[350px] object-cover rounded-t-lg mx-auto"
                            src={tour.image}
                            alt={tour.title}
                            loading="lazy"
                        />
                    </div>
                    <div class="flex flex-col justify-between p-5 h-full">
                        <div>
                            <h5 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                                {tour.title}
                            </h5>
                            <p class="text-sm font-semibold text-primary mb-3">{tour.days}</p>
                            <p class="text-sm text-gray-700 dark:text-gray-400 mb-5 line-clamp-3">
                                {tour.description}
                            </p>
                        </div>
                        <button class="w-full inline-flex items-center justify-center px-4 py-2 bg-primary text-white rounded-md shadow-md transition duration-300 ease-in-out hover:scale-105">
                            Consultar Ahora
                            <i class="fab fa-whatsapp ml-2"></i>
                        </button>
                    </div>
                </a>
            ))}
        </div>
    </div>
</section>