---
const slides = [
    {
        src: '/images/slide1.webp',
        alt: 'Sumérgete en Ayacucho, un lugar donde cada rincón narra historias de un pasado glorioso.',
        title: 'Ayacucho',
        description: 'Sumérgete en Ayacucho, un lugar donde cada rincón narra historias de un pasado glorioso.',
        whatsappLink: 'https://wa.me/+51969188876?text=Hola%20*Travel%20Millpu*%2C%20necesito%20m%C3%A1s%20informaci%C3%B3n%20sobre%20paquetes%20tur%C3%ADsticos%20a%20Ayacucho.'
    },
    {
        src: '/images/slide2.webp',
        alt: 'Disfruta de paisajes mientras exploras viñedos, oasis y tradiciones que cautivan a los viajeros.',
        title: 'Ica',
        description: 'Disfruta de paisajes mientras exploras viñedos, oasis y tradiciones que cautivan a los viajeros.',
        whatsappLink: 'https://wa.me/+51969188876?text=Hola%20*Travel%20Millpu*%2C%20necesito%20m%C3%A1s%20informaci%C3%B3n%20sobre%20paquetes%20tur%C3%ADsticos%20a%20Ica.'
    },
    {
        src: '/images/slide3.webp',
        alt: 'Sumérgete en la maravilla más grande de los Andes y la historia inca.',
        title: 'Cusco',
        description: 'Adéntrate en Cusco, el corazón del Imperio Inca, donde el misterio y la historia se encuentran.',
        whatsappLink: 'https://wa.me/+51969188876?text=Hola%20*Travel%20Millpu*%2C%20necesito%20m%C3%A1s%20informaci%C3%B3n%20sobre%20paquetes%20tur%C3%ADsticos%20a%20Cusco.'
    }
];
---
<section id="slider" class="relative w-full h-screen overflow-hidden bg-black">
    <div id="slides-container" class="flex h-full transition-transform duration-1000">
        {slides.map((slide) => (
            <div class="relative flex-shrink-0 w-full h-full">
                <img src={slide.src} alt={slide.alt} class="w-full h-full object-cover" />
                <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center text-center px-4 text-white">
                    <h1 class="text-4xl sm:text-6xl lg:text-8xl font-Yesteryear mb-4">
                        {slide.title}
                    </h1>
                    <p class="text-lg sm:text-xl mb-8">
                        {slide.description}
                    </p>
                    <a href={slide.whatsappLink} class="bg-primary text-white px-6 py-2 rounded-full font-semibold hover:bg-opacity-90 transition-transform" target="_blank">
                        Consultar ahora
                    </a>
                </div>
            </div>
        ))}
    </div>

    <button id="prev-slide" class="absolute top-1/2 left-4 transform -translate-y-1/2 bg-secondary bg-opacity-70 text-white w-12 h-12 rounded-full flex items-center justify-center hover:bg-info" aria-label="Anterior">
        <i class="fas fa-chevron-left text-2xl"></i>
    </button>
    <button id="next-slide" class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-secondary bg-opacity-70 text-white w-12 h-12 rounded-full flex items-center justify-center hover:bg-info" aria-label="Siguiente">
        <i class="fas fa-chevron-right text-2xl"></i>
    </button>

    <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2">
        {slides.map((_, idx) => (
            <button type="button" class="w-4 h-4 bg-gray-100 rounded-full hover:bg-primary" data-index={idx} aria-label="sliders"></button>
        ))}
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const slidesContainer = document.getElementById('slides-container');
        const buttons = document.querySelectorAll('button[data-index]');
        const prevButton = document.getElementById('prev-slide');
        const nextButton = document.getElementById('next-slide');

        const totalSlides = slidesContainer?.children.length ?? 0;
        let currentIndex = 0;

        const updateSlide = (index) => {
            if (!slidesContainer) return;

            const offset = -index * 100;
            slidesContainer.style.transform = `translateX(${offset}%)`;
            buttons.forEach((btn, idx) => {
                btn.classList.toggle('bg-primary', idx === index);
            });
        };

        buttons.forEach((button) => {
            button.addEventListener('click', (event) => {
                const target = event.target as HTMLElement;
                if (target && 'dataset' in target) {
                    const index = parseInt(target.dataset.index || '0', 10);
                    currentIndex = index;
                    updateSlide(currentIndex);
                }
            });
        });

        prevButton?.addEventListener('click', () => {
            currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
            updateSlide(currentIndex);
        })


        nextButton?.addEventListener('click', () => {
            currentIndex = (currentIndex + 1) % totalSlides;
            updateSlide(currentIndex);
        })

        setInterval(() => {
            currentIndex = (currentIndex + 1) % totalSlides;
            updateSlide(currentIndex);
        }, 5000);
    });
</script>