---
const tours = [
    {
        title: "YAKUPARK + PLAYA LA MINA",
        days: "FULL DAY",
        image: "/images/yakupark.png",
        description: "Combina adrenalina y relajación en un solo destino. Disfruta del Parque Acuático Inflable más grande de Sudamérica. Luego, relájate en la tranquila Playa La Mina, un paraíso de aguas cristalinas y vistas impresionantes. ¡Diversión asegurada para toda la familia!",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*CAMINO%20DEL%20INCA%202D%2F1N*."
    },
    {
        title: "PARACAS + HUACACHINA",
        days: "FULL DAY",
        image: "/images/huacachina.png",
        description: "Ofrece una mezcla perfecta de naturaleza y aventura. Disfruta de las impresionantes Islas Ballestas en Paracas, hogar de una gran biodiversidad marina, y luego vive la emoción de las dunas de Huacachina, donde podrás practicar sandboarding y paseos en buggy. Un destino único para los amantes de la aventura y el paisaje desértico.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*CAMINO%20DEL%20INCA%204D%2F3N*."
    },
    {
        title: "CARNAVAL AYACUCHO 2025",
        days: "DEL 1 AL 4 DE MARZO",
        image: "/images/carnavalayacucho.png",
        description: "Una fiesta vibrante que celebra la tradición y la cultura peruana. Disfruta de desfiles coloridos, música en vivo, danzas folclóricas y deliciosos platillos típicos. Este carnaval es una oportunidad única para sumergirse en la alegría y el fervor de Ayacucho, uno de los destinos más emblemáticos de Perú. ¡Una celebración que no te puedes perder!",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*TOUR%20A%20MACHU%20PICCHU%201D*."
    },
    {
        title: "SEMANA SANTA AYACUCHO",
        days: "4 DÍAS / 3 NOCHES",
        image: "/images/semanasantaayacucho.png",
        description: "Una experiencia religiosa y cultural única. Vive la solemnidad de las procesiones de Semana Santa, admirando la devoción y tradición de esta emblemática ciudad. Disfruta también de la belleza de su arquitectura colonial y la calidez de su gente, mientras te sumerges en una de las celebraciones más importantes de Perú. Un viaje que te llevará a un profundo encuentro con la fe y la historia.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "HUANCAYA",
        days: "FULL DAY",
        image: "/images/huancaya.png",
        description: "Te invita a explorar uno de los destinos naturales más impresionantes de Perú. Disfruta de la belleza de sus lagunas turquesas, cascadas y paisajes andinos únicos. Realiza caminatas por sus senderos, rodeado de montañas y exuberante vegetación, mientras descubres la tranquilidad y serenidad de este rincón escondido. Un día perfecto para conectarte con la naturaleza y vivir una aventura inolvidable.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%202D%2F1N*."
    },
    {
        title: "HUANCAYA + VILCA",
        days: "2 DÍAS / 1 NOCHE",
        image: "/images/huancaya2.png",
        description: "Te invita a explorar uno de los destinos naturales más impresionantes de Perú. Disfruta de la belleza de sus lagunas turquesas, cascadas y paisajes andinos únicos. Realiza caminatas por sus senderos, rodeado de montañas y exuberante vegetación, mientras descubres la tranquilidad y serenidad de este rincón escondido. Un día perfecto para conectarte con la naturaleza y vivir una aventura inolvidable.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%202D%2F1N*."
    },
    {
        title: "MARCAPOMACOCHA",
        days: "FULL DAY",
        image: "/images/marcapomacocha.png",
        description: "Destino lleno de historia y belleza natural, ideal para los amantes de la aventura. Explora sus impresionantes lagunas de aguas cristalinas, rodeadas por paisajes montañosos y una rica biodiversidad. Conoce también las antiguas minas de la zona y sumérgete en la historia de este misterioso lugar. Un viaje perfecto para quienes buscan descubrir rincones únicos llenos de cultura y naturaleza.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*TOUR%207%20LAGUNAS%20AUSANGATE%201D*."
    },
    {
        title: "CITY TOUR LIMA",
        days: "FULL DAY",
        image: "/images/lima.png",
        description: "Te llevamos a conocer lo mejor de la capital peruana. Explora su impresionante centro histórico, con la majestuosa Plaza Mayor, la Catedral y el Palacio de Gobierno. Descubre también el encanto moderno de Miraflores y el malecón de Barranco, donde se mezcla la tradición con la vida urbana. Un recorrido que te permitirá conocer la rica cultura, arquitectura y gastronomía de Lima en un solo día.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*TREKKING%20AUSANGATE%204D%2F3N*."
    },
    {
        title: "CASTILLO DE CHANCAY - HUARAL",
        days: "FULL DAY",
        image: "/images/chancay.png",
        description: "Te transportamos a un mundo de historia y magia. Descubre la imponente fortaleza medieval construida frente al mar, rodeada de hermosos jardines y paisajes costeros. Disfruta de la rica historia del castillo, sus exposiciones y la arquitectura única, mientras exploras los encantos de Huaral, una ciudad que combina tradición, cultura y naturaleza. Una experiencia que te cautivará con su misticismo y belleza.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*TREKKING%20LARES%204D%2F3N*."
    },
    {
        title: "SAN MATEO DE OTAO",
        days: "FULL DAY",
        image: "/images/sanmateo.png",
        description: "Pintoresco y tranquilo destino en los Andes peruanos, ideal para los amantes de la naturaleza y la historia. En este lugar podrás disfrutar de paisajes impresionantes, una rica biodiversidad y un ambiente lleno de serenidad. Conoce su iglesia colonial, sus plazas y tradiciones ancestrales, y sumérgete en la calidez de su gente. Un lugar perfecto para escapar del bullicio y conectarte con la cultura y la naturaleza del Perú profundo.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*TREKKING%20LARES%204D%2F3N*."
    },
    {
        title: "MACHU PICCHU LIMEÑO",
        days: "FULL DAY",
        image: "/images/machupicchulima.png",
        description: "Una experiencia única que te lleva a descubrir la majestuosa ciudadela inca sin salir de Lima. A través de un recorrido interactivo, conocerás la historia, los misterios y la cultura que rodean a este ícono mundial. Explora sus maravillas arquitectónicas a través de exposiciones y actividades temáticas que te acercarán a la historia de Machu Picchu desde la comodidad de la capital. Ideal para quienes buscan una introducción fascinante a este patrimonio de la humanidad.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*TREKKING%20LARES%204D%2F3N*."
    },
    {
        title: "AGUAS TERMALES CHURIN",
        days: "FULL DAY",
        image: "/images/churin.png",
        description: "Un destino perfecto para relajarte y rejuvenecer. Conocido por sus aguas termales naturales, Churín ofrece una experiencia única de bienestar en medio de un paisaje montañoso. Disfruta de sus piscinas termales terapéuticas, rodeado de impresionantes vistas, y aprovecha los beneficios de sus minerales para revitalizar cuerpo y mente. Un lugar ideal para escapar del estrés y disfrutar de la tranquilidad de la naturaleza.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*TREKKING%20LARES%204D%2F3N*."
    },
    {
        title: "CORDILLERA DE LA VIUDA",
        days: "FULL DAY",
        image: "/images/cordillera.png",
        description: "Un destino impresionante para los amantes del trekking y la aventura. En este rincón de los Andes, podrás explorar paisajes de montañas escarpadas, valles profundos y formaciones rocosas únicas que cuentan historias milenarias. Ideal para quienes buscan una experiencia de conexión profunda con la naturaleza y el paisaje andino. Una ruta desafiante que ofrece vistas espectaculares y una inmersión en la historia y cultura de la región.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*TREKKING%20LARES%204D%2F3N*."
    },
    {
        title: "AGUA TURQUESAS MILLPU",
        days: "FULL DAY",
        image: "/images/millpu.png",
        description: "Un paraíso natural escondido en los Andes, famoso por sus impresionantes lagunas de aguas cristalinas de color turquesa. Rodeado de montañas y vegetación exuberante, Millpu es el destino perfecto para los amantes de la naturaleza, el senderismo y la fotografía. Disfruta de sus piscinas naturales, caídas de agua y paisajes de ensueño, mientras te conectas con la serenidad y belleza del lugar. Un destino ideal para escapar del bullicio y vivir una experiencia inolvidable.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*TREKKING%20LARES%204D%2F3N*."
    },
    {
        title: "COMPLEJO ARQUEOLÓGICO VILCASHUAMAN",
        days: "FULL DAY",
        image: "/images/vilcashuaman.png",
        description: "Un fascinante sitio histórico que te transporta a la época incaica. Ubicado en el corazón de los Andes, Vilcashuamán es famoso por sus estructuras ceremoniales, templos y la imponente Plaza Principal, que refleja la grandeza de la cultura inca. Explora su arquitectura única, sus monumentos como el Templo del Sol y el Qollqa, y disfruta de una experiencia cultural profunda mientras descubres la historia de este antiguo centro religioso y político. Un destino perfecto para los interesados en la arqueología y la historia peruana.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*TREKKING%20LARES%204D%2F3N*."
    },
    {
        title: "CENOTE CHAPALLA",
        days: "FULL DAY",
        image: "/images/cenote.png",
        description: "Un impresionante paraje natural escondido en la región de los Andes. Este cenote de aguas cristalinas, rodeado por una exuberante vegetación y formaciones rocosas, es un lugar perfecto para disfrutar de la serenidad de la naturaleza. Ideal para los amantes de la aventura y el ecoturismo, Chapalla ofrece un escenario único para nadar, explorar y relajarse en un ambiente fresco y tranquilo. Un destino mágico para quienes buscan conectarse con la belleza natural de Perú.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*TREKKING%20LARES%204D%2F3N*."
    },
    {
        title: "VOLCAN PACHAPUPUM",
        days: "FULL DAY",
        image: "/images/volcan.png",
        description: "Una majestuosa formación geológica ubicada en los Andes peruanos. Con su imponente presencia, el volcán ofrece vistas espectaculares de paisajes deslumbrantes y terrenos llenos de historia volcánica. Ideal para los amantes del senderismo y la aventura, Pachapupum invita a explorar sus alrededores, disfrutar de su paisaje montañoso y sumergirse en la quietud de este enclave único. Un destino fascinante para quienes buscan desafiarse en la naturaleza mientras se conectan con la belleza del Perú profundo.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*TREKKING%20LARES%204D%2F3N*."
    },
    {
        title: "PAMPA DE LA QUINUA",
        days: "FULL DAY",
        image: "/images/pampa.png",
        description: "Un histórico campo de batalla ubicado en Ayacucho, Perú, donde se libró la crucial batalla por la independencia del país en 1824. Hoy en día, es un lugar emblemático que invita a conocer y reflexionar sobre la historia de la lucha por la libertad en Perú. Rodeada de impresionantes paisajes de las montañas andinas, la Pampa de la Quinua también ofrece un ambiente tranquilo para el disfrute de los viajeros interesados en la cultura, la historia y la belleza natural. Un destino único para quienes buscan aprender y conectarse con la historia de la independencia peruana.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*TREKKING%20LARES%204D%2F3N*."
    },
    {
        title: "COMPLEJO ARQUEOLÓGICO WARI",
        days: "FULL DAY",
        image: "/images/wari.png",
        description: "Uno de los más importantes vestigios de la antigua civilización Wari, precursor del Imperio Inca. Ubicado en la región de Ayacucho, este complejo presenta impresionantes estructuras arquitectónicas, plazas, y murallas que muestran la avanzada ingeniería y organización social de los Wari. Ideal para los interesados en la arqueología, ofrece una fascinante mirada al legado de esta civilización preincaica. Un destino que conecta a los viajeros con la rica historia y cultura andina.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*TREKKING%20LARES%204D%2F3N*."
    }
];
---
<section class="py-16 bg-gray-50">
    <div class="max-w-7xl mx-auto text-center px-4">
        <h2 class="text-3xl md:text-4xl font-bold text-primary mb-12">
            Aventuras <br /> recomendadas.
        </h2>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
            {tours.map((tour) => (
                <a href={tour.link} target="_blank" class="flex flex-col bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 transition transform hover:-translate-y-1 hover:shadow-lg h-full">
                    <div class="relative w-full h-[350px]">
                        <img
                            class="w-full h-[350px] object-cover rounded-t-lg mx-auto"
                            src={tour.image}
                            alt={tour.title}
                            loading="lazy"
                        />
                    </div>
                    <div class="flex flex-col justify-between p-5 h-full">
                        <div>
                            <h5 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                                {tour.title}
                            </h5>
                            <p class="text-sm font-semibold text-primary mb-3">{tour.days}</p>
                            <p class="text-sm text-gray-700 dark:text-gray-400 mb-5 line-clamp-3">
                                {tour.description}
                            </p>
                        </div>
                        <button class="w-full inline-flex items-center justify-center px-4 py-2 bg-primary text-white rounded-md shadow-md transition duration-300 ease-in-out hover:scale-105">
                            Consultar Ahora
                            <i class="fab fa-whatsapp ml-2"></i>
                        </button>
                    </div>
                </a>
            ))}
        </div>
    </div>
</section>